button {
  cursor: pointer;
}
.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Title {
  z-index: 100;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 150px);
  gap: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 3s infinite linear;
  }
}


.App-header {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.EnterButton {
  background-color: blue;
  color: white;
  width: 100px;
  margin: 30px;
}
@keyframes App-logo-spin {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
